* {
	margin: 0;
	padding: 0;
}
html,body {
	/* height: 100%; */
	/* background-color: gray; */
	background-color: #f3f5f7;
}

ul {
	list-style: none;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: ""
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
a {
	color: #050505;
	text-decoration: none;
}
input {
	border: 0;
	box-sizing: border-box;
}
header {
	width: 1920px;
	height: 100px;
	border: 1px;
	overflow: hidden;
}
nav {
	width: 1600px;
	height: 42px;
	/*background-color: hotpink;*/
	margin: 24px auto;
}
.logo {
	float: left;
}
.navbar {
	float: left;
}
.navbar li {
	float: left;
	line-height: 42px;
	margin-left: 10px;
}
.navbar li:first-child {
	margin-left: 50px;
}
.navbar li a {
	/*padding: 0 20px;*/
	display: block;
}
.navbar li a:hover {
	border-bottom: 2px solid #00a4ff;
}
.search {
	width: 415px;
	height: 40px;
	float: left;
	/*background-color: pink;*/
	border: #00a4ff 1px solid;
	margin-left: 265px;
}
.search input[type=text] {
	width: 360px;
	height: 40px;
	display: block;
	float: left;
	border: 0px;
}
.search input[type=submit] {
	width: 55px;
	height: 40px;
	display: block;
	float: left;
	border: 0px;
	background: #00a4ff url(images/search.png) center no-repeat;
}
.personal {
	/*width: 318px;*/
	/*height: 42px;*/
	float: left;
	line-height: 50px;
	/*background-color: blue;*/

}
.personal a {
	display: block;
	float: left;
	/*height: 42px;*/
	line-height: 42px;
	margin-left: 20px;
}
.personal img{
	width: 30px;
	height: 30px;
	margin: 0 5px;
	/*float: left;*/
	vertical-align: middle;
}
.banner	{
	/* width: 1920px; */
	height: 420px;
	background-color: #1c036c;
}
.banner-inner {
	width: 1200px;
	height: 420px;
	margin: 0 auto;
	background:  url(images/banner.png) 0 0 no-repeat;
	position: relative;
}
.banner .circle {
	width: 170px;
	height: 20px;
	/*background-color: red;*/
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -85px;

}
.circle li {
	width: 16px;
	height: 16px;
	/* background-color: green; */
	float: left;
	display: block;
	margin-left: 10px;
	margin-top: 2px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255, 0.3);
}
.circle .current {
	width: 22px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
}
.slide {
	width: 190px;
	height: 420px;
	float: left;
	background-color: rgba(0, 0, 0, 0.3);
}
.slide li a {
	display: block;
	height: 45px;
	/*width: 420px;*/
	line-height: 45px;
	font-size: 14px;
	color: #ffffff;
	padding: 0 20px;
}
.slide li a:hover {
	color: #00b4ff;
}
.slide a span {
	float: right;
	font-family: arial;
}
.timetable {
	width: 230px;
	height: 300px;
	float: right;
	margin-top: 50px;
	/*background-color: pink;*/
}
.timetable dt {
	height: 51px;
	background-color: #9bceea;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 2px;
}
.timetable dd {
	height: 62px;
	box-sizing: border-box;
	background-color: #ffffff;
}
.timetable dd a {
	display: block;
	height: 62px;
	width: 200px;
	border-bottom: 1px solid #efefef;
	margin: 0 auto;
	padding-left: 10px;
	padding-bottom: 5px;
	box-sizing: border-box;
}
.timetable dd h4 {
	font-weight: normal;
	font-size: 15px;
	padding-top: 15px;
}
.timetable dd span {
	font-weight: normal;
	font-size: 14px;
	color: #bdbdbd;
}
.timetable dd a:hover {
	color: #44bcff;
}
.timetable dd:last-child {
	overflow:hidden;
	/*display: block;
	text-align: center;
	line-height: 62px;*/
}
.timetable dd:last-child a {
	font-weight: 700;
	line-height: 62px;
	width: 180px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	text-align: center;
	margin-top: 10px;
	border-bottom: none;
	border: 1px solid #00a4ff;
}
.timetable dd:last-child a:hover {
	background-color: #00a4ff;
	color: #f3f5f7;
}
.recommend {
	margin: 4px auto;
	width: 1200px;
	height: 60px;
	line-height: 60px;
	background-color: #ffffff;
}
.recommend a {
	margin: 15px 10px;
	display: block;
	float: left;
	width: 90px;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	border-right: #bfbfbf 1px solid;
}
.recommend a:hover {
	color: #42b2ff;
}
.recommend a:first-child {
	color: #42b2ff;
}
.recommend a:nth-last-child(2) {
	border-right: none;
}
.recommend a:last-child {
	float: right;
	border: none;
	color: #42b2ff;
}
.recom-products {
	width: 1200px;
	/* height: 1000px; */
	margin: 10px auto;
	/* background-color: greenyellow; */
	/* margin-bottom: 50px; */
	/*background-color: pink;*/
	margin-bottom: 100px;
}
.recom-header {
	width: 1200px;
	height: 60px;
	margin-bottom: 10px;
	margin-top: 2px;
	line-height: 60px;
}
.recom-header span {
	float: left;
	margin-left: 10px;
	color: #494949;
}
.recom-header a {
	float: right;
	margin-right: 10px;
	color: #a5a5a5;
	font-size: 14px;
	padding-top: 10px;
}
.recom-body {
	width: 1200px;
	/* height: 1000px; */
	margin: 0 auto;
}
.recom-body li {
	width: 228px;
	height: 270px;
	background-color: #ffffff;
	box-shadow:3px 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	display: block;
	margin-right: 12px;
	margin-top: 15px;
}
.recom-body li:hover {
	margin-top: 10px;
	box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.recom-body li .coursename {
	padding: 5px 10px;
	font-size: 14px;
}
.recom-body li .courseinfo {
	padding: 0 10px;
	font-size: 13px;
	color: #999999;
}
.recom-body li .gaoji {
	color: #ff7c2d;
}
.recom-body h5 {
	margin: 15px;
	color: 050505;
}
.recom-body span {
	color: #ff7c2d;
}
.recom-body p {
	margin: 15px;
	font-size: 14px;
	color: #999999;
}
.footer {
	height: 270px;
	background-color: #ffffff;
}
.footer-inner {
	width: 1200px;
	margin: 0 auto;
}
.footer-l {
	padding-top: 30px;
	width: 500px;
	height: 240px;
	float: left;
}
.footer-l p {
	margin: 10px 0;
	font-size: 12px;
	color: #666666;
}
.footer-l a {
	color: #00a4ff;
	border: solid 2px #00a4ff;
	width: 120px;
	height: 36px;
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	text-align: center;
}
.footer-r {
	padding-top: 30px;
	width: 700px;
	height: 240px;
	float: right;
}
.footer-r dl {
	float: left;
	margin-left: 150px;
}
.footer-r dt{
	color: #7d7d7d;
	margin-bottom: 10px;
}
.footer-r dd {
	color: #333333;
	height: 20px;
	font-size: 12px;
	padding: 2px 0;
}
.footer-r dd a:hover {
	color: #00a4ff;
	text-decoration: underline;
}